<app-navbar-home></app-navbar-home>

<div class="container-fluid" style="margin-top: 100px">

  <div class="jumbotron">
    <div class="col-sm-6" style="padding-right: 25px; padding-left: 25px">
      <h1 class="text-left">Detecta desperfectos</h1>
      <p>Si observas algun desperfecto urbanistico, material dañado, en mal estado o cualquier incidencia, registralo en fixit.</p>
    </div>
    <div class="col-sm-6" style="padding-right: 25px; padding-left: 25px">
      <h1 align="center">IMAGEN</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="col-sm-6" style="padding-right: 25px; padding-left: 25px">
      <h1 class="text-left">Registra la incidencia</h1>
      <p>Sube una foto del desperfecto, asignalo a su categoria correspondiente, pon una descripción y localizalo en el mapa.</p>
    </div>
    <div class="col-sm-6" style="padding-right: 25px; padding-left: 25px">
      <h1 align="center">IMAGEN</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="col-sm-6" style="padding-right: 25px; padding-left: 25px">
      <h1 class="text-left">Arregla tu ciudad</h1>
      <p>Gracias a tu colaboración, el ayuntamiento de Barcelona tiene constancia del desperfecto y enviará al grupo responsable para arreglarlo.</p>
    </div>
    <div class="col-sm-6" style="padding-right: 25px; padding-left: 25px">
      <h1 align="center">IMAGEN</h1>
    </div>
  </div>

</div>

<app-footer></app-footer>
