header.w3-container{
  background-color: steelblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div.w3-container{
  padding-top: 5px;
  background-color: lightsteelblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
p{
  font-size: 12px;
  word-wrap: break-word;
}
