<app-navbar-dashboard></app-navbar-dashboard>

<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4" style="margin-top: 15px">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title"><strong>{{categoriaedit._id}}</strong></h3>
          </div>
        </div>
      </div>
      <div class="panel-body" style="overflow: hidden">
        <form #categoriaForm="ngForm" style="padding: 20px">
          <div class="form-group">
            <label>Tipo</label>
            <input type="text" class="form-control" [(ngModel)]="categoriaedit.tipo" name="tipo" id="tipo">
          </div>
          <div class="form-group">
            <label>Prioridad</label>
            <input type="number" class="form-control" [(ngModel)]="categoriaedit.prioridad" name="prioridad" id="prioridad">
          </div>
          <div class="form-group">
            <label>Empresa de contacto</label>
            <input type="text" class="form-control" [(ngModel)]="categoriaedit.empresaContacto" name="empresaContacto" id="empresaContacto">
          </div>
          <div class="form-group">
            <label>Teléfono de contacto</label>
            <input type="text" class="form-control" [(ngModel)]="categoriaedit.telefonoContacto" name="telefonoContacto" id="telefonoContacto">
          </div>
          <div class="form-group">
            <label>Correo electrónico de contacto</label>
            <input type="text" class="form-control" [(ngModel)]="categoriaedit.emailContacto" name="emailContacto" id="emailContacto">
          </div>
          <div class="form-group">
            <label>Horario de contacto</label>
            <input type="text" class="form-control" [(ngModel)]="categoriaedit.horarioContacto" name="horarioContacto" id="horarioContacto">
          </div>
          <div class="col-md-12 text-center" style="margin-bottom: 10px">
            <button type="button" class="btn btn-success" (click)="updateCategoria(idcategoriaedit, categoriaedit)">Actualizar</button>
            <button type="button" class="btn btn-default" [routerLink]="['/categorias']">Atrás</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
