<img src="/usuarios/{{usuario.imagen}}" class="img-thumbnail" alt="Profile">
<h4><strong>Nombre </strong></h4>
<h6>{{usuario.nombre}}</h6>
<h4><strong>Alias </strong></h4>
<h6>{{usuario.alias}}</h6>
<h4><strong>DNI</strong></h4>
<h6>{{usuario.dni}}</h6>
<h4><strong>Email </strong></h4>
<h6>{{usuario.email}}</h6>
<h4><strong>Teléfono </strong></h4>
<h6>{{usuario.telefono}}</h6>
<h4><strong>Codigo Postal </strong></h4>
<h6>{{usuario.codigoPostal}}</h6>
<h4><strong>Título </strong></h4>
<h6>{{usuario.logros.tituloActivo}}</h6>
<h4><strong>Avisos creados </strong></h4>
<h6>{{usuario.avisos.creados?.length}}</h6>
<h4><strong>Avisos apoyados </strong></h4>
<h6>{{usuario.avisos.apoyados?.length}}</h6>
<h4><strong>Logros </strong></h4>
<h6>{{usuario.logros.coleccion?.length}}</h6>
