<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Inicio</a></li>
        <li><a [routerLink]="['/howto']">¿Cómo funciona?</a></li>
        <li><a [routerLink]="['/descargar']">Descargas</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Acceso
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--<li><a [routerLink]="['/acceso']">Usuarios</a></li>-->
            <li><a [routerLink]="['/administracion']">Administradores</a></li>
            </ul>
        </li>
        </ul>
    </div>
  </div>
</nav>
