<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FIXIT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#/usuario/perfil" >Perfil </a></li>
        <li><a [routerLink]="['/howto']">¿Cómo funciona?</a></li>
        <li><a >Descargas</a></li>
        <li><a [routerLink]="['/faq']">FAQ</a></li>
        <li><a [routerLink]="['/contacto']">Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-primary navbar-btn" [routerLink]="['/acceso']" style="margin-right: 20px; margin-left: 20px;">Acceso</button>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-primary navbar-btn" [routerLink]="['/login/administracion']" style="margin-right: 20px; margin-left: 20px;">Administradores</button>
      </ul>
    </div>
  </div>
</nav>
