<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h3 style="padding-bottom: 25px">Aviso (Próximamente foto)</h3>
      <h4><strong>Categoría: </strong>{{ aviso.categoria }}</h4>
      <h4><strong>Ciudad: </strong>{{ aviso.datosUbicacion.ciudad }}</h4>
      <h4><strong>Calle: </strong>{{ aviso.datosUbicacion.calle }}</h4>
      <h4><strong>Descripción: </strong>{{ aviso.descripcion }}</h4>
      <h4><strong>Seguimiento: </strong>{{ aviso.seguimiento }}</h4>
      <h4><strong>Autor: </strong>{{ autor.autor }}</h4>
      <h4><strong>Apoyos: </strong>{{ autor.apoyos }}</h4><br>
      <a [routerLink]="['/aviso-edit', aviso._id]" class="btn btn-success">Editar</a>
    </div>
  </div>
</div>
</div>
