<app-navbar-home></app-navbar-home>

<div class="faq-class">
  <!--<div class="row content">-->
    <!--<div class="col-sm-4 sidenav">-->
      <!--<h4>-->
        <!--<strong>Preguntas Frecuentes</strong>-->
      <!--</h4>-->
      <!--<ul class="nav nav-pills nav-stacked">-->
        <!--<li>-->
          <!--<a href="#section2">General</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#section3">Problemas usuario</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#section4">Cómo usar Fixit</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#section5">¿Todavía no usas Fixit?</a>-->
        <!--</li>-->
      <!--</ul>-->
      <!--<br>-->
    <!--</div>-->

    <div class="col-sm-12">
      <!-- <button id="a1" class="accordion">¿Cúando estará disponible FIXIT?</button>
      <div class="panel">
        <br>
        <p>Actualmente la aplicación se encuentra en desarrollo.
          <br>
          No obstante puedes mantenerte informado acerca de los avances siguiéndonos en las redes sociales.
          <br>
          <strong><a href="https://twitter.com/eaCodersG3">Twitter: @eaCodersG3</a></strong>
          <br>
          <strong><a href="https://github.com/munozloisivan/fixit-app">Github</a></strong>
        </p>
        <br>
      </div>
      <button id="a2" class="accordion">¿Qué és fixit?</button>
      <div class="panel">
        <br>
        <p>Fixit es una aplicación para abrir un canal de comunicación entre la gente y los servicios de mantenimiento y gestión de las cuidades
          Todo el mundo puede contribuir a mantener su cuidad en perfecto estado, notificando de los desperfectos urbanos. De esta manera, los organismos
        encargados del mantenimiento y la gestión estarán 100% informados del estado actual del barrio.</p>
        <br>
      </div>
      <button id="a3" class="accordion">¿Cómo puedo descargar la aplicación?</button>
      <div class="panel">
        <br>
        <p>Todavía no esta lista la aplicación para dispositivos móviles, pero será tan fácil de de descargar en instalar como lo es respirar.</p>
        <br>
      </div>
      <button id="a4" class="accordion">¿Cómo hago un aviso?</button>
      <div class="panel">
        <br>
        <p>Observa, fotografía, describe, publica. Fácil ¿Verdad?</p>
        <br>
      </div>
      <button id="a5" class="accordion">He olvidado mi contraseña de acceso</button>
      <div class="panel">
        <br>
        <p>Puede generar una nueva contraseña a través del enlace que se encuentra en el inicio de sesión.</p>
        <br>
      </div>
      <button id="a6" class="accordion">¿Qué significa apoyar un aviso?</button>
      <div class="panel">
        <br>
        <p>Apoyar una aviso significa apoyar a al bienestar de tu ciudad manteniendo la limpieza y el orden de la aplicación.
        Si hay un desperfecto que desear reportar, pero alguien ya lo ha hecho anteriormente, puedes apoyarle de manera rápida y sencilla sin tener
        que abrir una nueva instancia de queja.</p>
        <br>
      </div>
      <button id="a7" class="accordion">¿Cómo se gestiona un aviso una vez lo he realizado?</button>
      <div class="panel">
        <br>
        <p>En tu panel de usuario, puedes ver todos los avisos que has creado o apoyado.</p>
        <br>
      </div> 0-->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong>¿Cúando estará disponible FIXIT?</strong>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              Actualmente la aplicación se encuentra en desarrollo.
          <br>
          No obstante puedes mantenerte informado acerca de los avances siguiéndonos en las redes sociales.
          <br><br>
          <div id="enlaces-faq">
          <strong><a href="https://twitter.com/eaCodersG3">Twitter: @eaCodersG3</a></strong>
          <br>
          <strong><a href="https://github.com/munozloisivan/fixit-app">Github</a></strong>
        </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                <strong>¿Qué és fixit?</strong>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              Fixit es una aplicación para abrir un canal de comunicación entre la gente y los servicios de mantenimiento y gestión de
              las cuidades Todo el mundo puede contribuir a mantener su cuidad en perfecto estado, notificando de los desperfectos
              urbanos. De esta manera, los organismos encargados del mantenimiento y la gestión estarán 100% informados del
              estado actual del barrio.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                <strong>¿Cómo puedo descargar la aplicación?</strong>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              Todavía no esta lista la aplicación para dispositivos móviles, pero será tan fácil de de descargar en instalar como lo es
              respirar.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour">
                <strong>¿Cómo hago un aviso?</strong>
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              Observa, fotografía, describe, publica. Fácil ¿Verdad?
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                aria-controls="collapseFive">
                <strong>He olvidado mi contraseña de acceso</strong>
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              Puede generar una nueva contraseña a través del enlace que se encuentra en el inicio de sesión.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed text-collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                aria-controls="collapseSix">
                <strong>¿Qué significa apoyar un aviso?</strong>
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              Apoyar una aviso significa apoyar a al bienestar de tu ciudad manteniendo la limpieza y el orden de la aplicación. Si hay
              un desperfecto que desear reportar, pero alguien ya lo ha hecho anteriormente, puedes apoyarle de manera rápida
              y sencilla sin tener que abrir una nueva instancia de queja.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSeven">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false"
                aria-controls="collapseThree">
                <strong>¿Cómo se gestiona un aviso una vez lo he realizado?</strong>
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
            <div class="panel-body">
              En tu panel de usuario, puedes ver todos los avisos que has creado o apoyado.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
