li a{
  color: #333 !important;
  font-size: 18px !important;
}
body, html {
  height: 100%;
  margin: 0;
}

#admin_form{
  position: absolute !important;
  z-index: 99;
  margin-top: 25px;
}

.bg {
  position: relative !important;
  /* The image used */
  background-image: url("http://147.83.7.158/assets/back_nologo.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
