<app-navbar-home></app-navbar-home>

<div class="bg">

<div id="admin_form" class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well" style="height: 400px">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a data-toggle="pill" href="#login_usuario">Acceso de administración</a></li>
        </ul>

        <div class="tab-content" style="margin-top: 25px">
          <div id="login_usuario" class="tab-pane fade in active">
            <div class="col-xs-6">
              <app-gestor-login></app-gestor-login>
            </div>
            <div class="col-xs-6">
              <app-gestor-registro></app-gestor-registro>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>

<app-footer></app-footer>
