<app-navbar-dashboard></app-navbar-dashboard>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
      <form (ngSubmit)="updateAviso(aviso._id)" #avisoForm="ngForm">
        <div class="form-group">
          <label>Ciudad</label>
          <input type="text" class="form-control" [(ngModel)]="aviso.datosUbicacion.ciudad" name="nombre" id="ciudad" required>
        </div>
        <div class="form-group">
          <label>Calle</label>
          <input type="text" class="form-control" [(ngModel)]="aviso.datosUbicacion.calle" name="apellido" id="calle" required>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <input type="text" class="form-control" [(ngModel)]="aviso.descripcion" name="publisher" id="desc" required>
        </div>
        <div class="form-group">
          <label>Seguimiento</label>
          <input type="text" class="form-control" [(ngModel)]="aviso.seguimiento" name="publisher" id="seguimiento" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!avisoFormForm.form.valid">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
