<app-navbar-home></app-navbar-home>

<div class="bg">

<div class="row" style="margin-top: 25px">
  <div class="col-md-7">
    <div class="well" style="height: auto;">
      <h4 class="text-center">
        Contacta con nosotros
      </h4>
      <agm-map
        [latitude]="41.275514"
        [longitude]="1.985265"
        [zoom]="16">

        <agm-marker
          [latitude]="41.275514"
          [longitude]="1.985265">
        </agm-marker>

      </agm-map> </div>

  </div>
  <div class="col-md-5">
    <div class="well" style="height: auto;">
      <h4 class="text-center">
        Dirección
      </h4>
      <p class="text-center"><strong>EETAC</strong></p>
      <p class="text-center"><strong> C/ Esteve Terradas, 7</strong></p>
      <p class="text-center"><strong>08860 Casteldefels, Barcelona</strong></p>
      <h4 class="text-center">
        Contacto
      </h4>

      <p class="text-center"><strong>934 13 70 00</strong></p>
      <p class="text-center"><strong>eacode17@gmail.com</strong></p>
      <h4 class="text-center">
        ¡Siguenos!
      </h4>
      <p class="text-center">
        <a id="twitter_c" target="_blank" href="https://twitter.com/eaCodersG3" class="fa fa-twitter"></a>
        <a id="insta_c" target="_blank" href="https://eacod3rs.wordpress.com/author/eacode17/" class="fa fa-wordpress"></a>
      </p>
    </div>
  </div>
</div>

</div>

<app-footer></app-footer>



