body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url("http://147.83.7.158/assets/background2.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h4{
  background-color: #333;
  color: #ebebeb;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
#twitter_c{
  font-size: 50px !important;
  color: #55ACEE !important;
}
#twitter_c:hover{
  text-decoration: none !important;
}
#insta_c{
  font-size: 50px !important;
  text-decoration: none !important;
  color: #020406 !important;

}
agm-map {
 height:  320px;
}
