h4{
  background-color: #333;
  color: #ebebeb;
  border-radius: 3px;
  border-color: #101010;
  padding: 10px;
}
#twitter_c{
  font-size: 50px !important;
  color: #55ACEE !important;
}
#twitter_c:hover{
  text-decoration: none !important;
}
#insta_c{
  font-size: 50px !important;
  text-decoration: none !important;
  color: #020406 !important;

}
agm-map {
 height:  320px;
}
