

/*
.panel-login {
  border-color: #ccc !important;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2) !important;
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2) !important;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2) !important;
}
.panel-login>.panel-heading {
  color: #00415d !important;
  background-color: #fff !important;
  border-color: #fff !important;
  text-align:center !important;
}
.panel-login>.panel-heading a{
  text-decoration: none !important;
  color: #666 !important;
  font-weight: bold !important;
  font-size: 15px !important;
  -webkit-transition: all 0.1s linear !important;
  -moz-transition: all 0.1s linear !important;
  transition: all 0.1s linear !important;
}
.panel-login>.panel-heading a.active{
  color: #029f5b !important;
  font-size: 18px !important;
}
.panel-login>.panel-heading hr{
  margin-top: 10px !important;
  margin-bottom: 0px !important;
  clear: both !important;
  border: 0 !important;
  height: 1px !important;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0)) !important;
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0)) !important;
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0))!important;
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0)) !important;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px !important;
  border: 1px solid #ddd !important;
  font-size: 16px !important;
  -webkit-transition: all 0.1s linear !important;
  -moz-transition: all 0.1s linear !important;
  transition: all 0.1s linear !important;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}
.btn-login {
  background-color: #59B2E0 !important;
  outline: none !important;
  color: #fff !important;
  font-size: 14px !important;
  height: auto !important;
  font-weight: normal !important;
  padding: 14px 0 !important;
  text-transform: uppercase !important;
  border-color: #59B2E6 !important;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff !important;
  background-color: #53A3CD !important;
  border-color: #53A3CD !important;
}
.forgot-password {
  text-decoration: underline !important;
  color: #888 !important;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline !important;
  color: #666 !important;
}

.btn-register {
  background-color: #1CB94E !important;
  outline: none !important;
  color: #fff !important;
  font-size: 14px !important;
  height: auto !important;
  font-weight: normal !important;
  padding: 14px 0 !important;
  text-transform: uppercase !important;
  border-color: #1CB94A !important;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff !important;
  background-color: #1CA347 !important;
  border-color: #1CA347 !important;
}*/
