<div class="alert alert-success" *ngIf="status == 'success'">
  Registro correcto
</div>

<div class="alert alert-danger" *ngIf="status == 'error'">
  El correo electrónico ya esta registrado
</div>

<form (submit)="Register()" #loginForm="ngForm">
  <div class="form-group">
    <label for="e">Correo electrónico</label>
    <input type="email" class="form-control" [(ngModel)]="email" name="nombre" id="e" required>
  </div>
  <div class="form-group">
    <label for="p">Contraseña</label>
    <input type="password" class="form-control" [(ngModel)]="password" name="apellido" id="p" required>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5">
      <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Registrar</button>
    </div>
  </div>
</form>

