<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a >Mapa</a></li>
        <li><a href="#/dashboard">Avisos</a></li>
        <li><a >Perfil</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-danger navbar-btn" [routerLink]="['/home']" style="margin-right: 20px; margin-left: 20px;">Salir</button>
      </ul>
    </div>
  </div>
</nav>
