<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Mapa</a></li>
        <li><a href="#">Tablas</a></li>
        <li><a href="#">Perfil</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button class="btn btn-danger navbar-btn" [routerLink]="['/home']" style="margin-right: 20px; margin-left: 20px;">Salir</button>
      </ul>
    </div>
  </div>
</nav>
