<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter">FIXIT</div>
        <p>Es un sistema creado para informar sobre desperfectos que veas por tu ciudad</p>
        <p>¡Colabora tú también a mantener siempre a punto el lugar donde vives!</p>
        <p><i class="fa fa-map-pin"></i> Esteve Terrades 12, Castelldefels</p>
        <p><i class="fa fa-phone"></i> Teléfono (España) : +34 9999 878 398</p>
        <p><i class="fa fa-envelope"></i> E-mail : eetakemongocbl@gmail.com</p>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL</h6>
        <ul class="footer-ul">
          <li><a href="/">Inicio</a></li>
          <li><a [routerLink]="['/howto']">¿Cómo funciona?</a></li>
          <li><a >Descargas</a></li>
          <li><a [routerLink]="['/faq']">FAQ</a></li>
          <li><a [routerLink]="['/contacto']">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">Últimos avances</h6>
        <div class="post">
          <p>Release 0.1 <span> 13 Noviembre 2017 </span></p>
          <p>Release 0.2 <span> 05 Diciembre 2017</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://twitter.com/eaCodersG3"><a target="_blank" href="https://twitter.com/eaCodersG3">Twitter</a></blockquote>
          </div>
        </div>
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://github.com/munozloisivan/fixit-app"><a target="_blank" href="https://github.com/munozloisivan/fixit-app">Github</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights by PISARRÍN</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a target="_blank" href="https://eacod3rs.wordpress.com/">About us</a></li>
      </ul>
    </div>
  </div>
</div>
